altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitdb
GitPython
greenlet
h11
httpcore
httpx
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langsmith
MarkupSafe
narwhals
numpy
orjson
packaging
pandas
pillow
protobuf
pyarrow
pydantic
pydantic_core
pydeck
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
referencing
requests
requests-toolbelt
rpds-py
six
smmap
sniffio
SQLAlchemy
streamlit
tenacity
toml
tornado
typing-inspection
typing_extensions
tzdata
urllib3
watchdog
zstandard
